<html>
  <head>
    <title>Delivery time calculator</title>
    <style>

      body {
        background-image: url("https://cdn.xxl.thumbs.canstockphoto.com/food-delivery-online-man-in-motorcycle-hands-shopping-bag-food-delivery-animation-hd-stock-video_csp59700864.jpg");
        background-size: cover;
      }

      .form-group {
        margin-bottom: 10px;
      }

      label {
        display: inline-block;
        width: 150px;
        margin-right: 60px;
        font-weight: bold;
      }

      input[type="text"],
      select {
        display: inline-block;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
        width: 250px;
      }

      select {
        width: 265px;
      }

      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">

    <h2>Delivery time calculator</h2>
    <div class="form-group">
      <label for="ID">ID:</label>
      <input type="text" id="ID" name="ID" placeholder="Enter ID value">
    </div>
    
    <div class="form-group">
      <label for="Delivery_person_ID">Delivery_person_ID:</label>
      <input type="text" id="Delivery_person_ID" name="Delivery_person_ID" placeholder="Enter Delivery_person_ID value">
    </div>
    
    <div class="form-group">
      <label for="Delivery_person_Age">Delivery_person_Age:</label>
      <input type="text" id="Delivery_person_Age" name="Delivery_person_Age" placeholder="Enter Delivery_person_Age value (int)">
    </div>
    
    <div class="form-group">
      <label for="Delivery_person_Ratings">Delivery_person_Ratings:</label>
      <input type="text" id="Delivery_person_Ratings" name="Delivery_person_Ratings" placeholder="Enter Delivery_person_Ratings value">
    </div>
    
    <div class="form-group">
      <label for="Restaurant_latitude">Restaurant_latitude:</label>
      <input type="text" id="Restaurant_latitude" name="Restaurant_latitude" placeholder="Enter Restaurant_latitude value">
    </div>
    
    <div class="form-group">
      <label for="Restaurant_longitude">Restaurant_longitude:</label>
      <input type="text" id="Restaurant_longitude" name="Restaurant_longitude" placeholder="Enter Restaurant_longitude value">
    </div>
    
    <div class="form-group">
      <label for="Delivery_location_latitude">Delivery_location_latitude:</label>
      <input type="text" id="Delivery_location_latitude" name="Delivery_location_latitude" placeholder="Enter Delivery_location_latitude value">
    </div>
    
    <div class="form-group">
      <label for="Delivery_location_longitude">Delivery_location_longitude:</label>
      <input type="text" id="Delivery_location_longitude" name="Delivery_location_longitude" placeholder="Enter Delivery_location_longitude value">
    </div>
    
    <div class="form-group">
      <label for="Order_Date">Order_Date:</label>
      <input type="text" id="Order_Date" name="Order_Date" placeholder="Enter Order_Date value">
    </div>
    
    <div class="form-group">
      <label for="Time_Orderd">Time_Orderd:</label>
      <input type="text" id="Time_Orderd" name="Time_Orderd" placeholder="Enter Time_Orderd value">
    </div>
    
    <div class="form-group">
      <label for="Time_Order_picked">Time_Order_picked:</label>
      <input type="text" id="Time_Order_picked" name="Time_Order_picked" placeholder="Enter Time_Order_picked value">
    </div>
             
  
    <div class="form-group">
      <label for="Weather_conditions">Weather_conditions:</label>
      <select id="Weather_conditions" name="Weather_conditions">
        <option value="Sunny">Sunny</option>
        <option value="Stormy">Stormy</option>
        <option value="Sandstorms">Sandstorms</option>
        <option value="Windy">Windy</option>
        <option value="Fog">Fog</option>
        <option value="Cloudy">Cloudy</option>
      </select>
    </div>
      
    <div class="form-group">
      <label for="Road_traffic_density">Road_traffic_density:</label>
      <select id="Road_traffic_density" name="Road_traffic_density">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Jam">Jam</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="Type_of_order">Type_of_order:</label>
      <select id="Type_of_order" name="Type_of_order">
        <option value="Snack">Snack</option>
        <option value="Meal">Meal</option>
        <option value="Drinks">Drinks</option>
        <option value="Buffet">Buffet</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="Type_of_vehicle">Type_of_vehicle:</label>
      <select id="Type_of_vehicle" name="Type_of_vehicle">
        <option value="bicycle">bicycle</option>
        <option value="electric_scooter">electric_scooter</option>
        <option value="scooter">scooter</option>
        <option value="motorcycle">motorcycle</option>
      </select>
    </div>

    <div class="form-group">
        <label for="Festival">Festival:</label>
        <select id="Festival" name="Festival">
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="City">City:</label>
        <select id="City" name="City">
          <option value="Urban">Urban</option>
          <option value="Metropolitian">Metropolitian</option>
          <option value="Semi-Urban">Semi-Urban</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="multiple_deliveries">multiple_deliveries:</label>
        <select id="multiple_deliveries" name="multiple_deliveries">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Vehicle_condition">Vehicle_condition:</label>
        <select id="Vehicle_condition" name="Vehicle_condition">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>

<!-- <h1> {{final_result}} </h1> -->
</body>
</html>